<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local | develop">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <property name="LOG_FILE_PATH" value="/var/log/spring"/>
        <appender name="file-appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE_PATH}/current.log</file>

            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <logLevel>
                        <fieldName>level</fieldName>
                    </logLevel>
                    <timestamp>
                        <timeZone>Asia/Seoul</timeZone>
                        <pattern>yyyy-MM-dd HH:mm:ss.SSSZ</pattern>
                    </timestamp>
                    <loggerName/>
                    <threadName/>
                    <message/>
                    <mdc/>
                    <stackTrace>
                        <fieldName>stackTrace</fieldName>
                    </stackTrace>
                </providers>
                <customFields>{"service":"dialog-api-service","env":"prod"}</customFields>
            </encoder>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE_PATH}/current-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
        </appender>
        <root level="INFO">
            <appender-ref ref="file-appender"/>
        </root>
    </springProfile>
</configuration>
